@model IEnumerable<Company>
@{
    ViewData["Title"] = "Index";
}

<div class="col-12 d-flex justify-content-end  ">
    <a asp-controller="Company" asp-action="Create" class="btn btn-primary shadow-sm">
        <i class="bi bi-patch-plus"></i> Add Company
    </a>
</div>
<div class="card shadow border-0 mt-2 mb-5">
    <div class="row  pb-0">
    </div>
    <div class="card-header bg-secondary text-light text-center">
        <h2 class="m-0">Companies</h2>
    </div>
    <div class="card-body">

        <table id="myTable" class="table table-hover table-striped table-lg  table-borderless text-center align-middle  " width="100%">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Addres</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">PostalCode</th>
                    <th scope="col">PhoneNumber</th>
                </tr>                    
</table>
    </div>
</div>
@section Scripts{
    <script src="~/js/Company.js"></script>
}
